# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*~
.DS_Store

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
src/version.h
src/config.h

# Ignore the build directory
build/*
!build/.gitkeep

# Ignore distribution files in the releng directory
releng/SPAGeDi*
